.statistics-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    filter: drop-shadow(0 1rem 2rem #d0d0d0);
}
.statistics-container_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.statistics-tile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #999;
    background-color: #fff;
    padding: 20px 20px 10px 20px;
}
.statistics-tile_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}
.statistics-data {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.statistics-data_number {
    font-weight: 500;
    font-size: 2.3rem;
}
.statistics-icon {
    flex-grow: 1;
    filter: invert(73%) sepia(14%) saturate(5162%) hue-rotate(40deg) brightness(96%) contrast(76%);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-position: 50%;
}
.statistics-tile_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.statistics-button_show-button {
    width: fit-content;
    padding: 0px 10px;
    border: 1px solid #77bc1f;
    background-color: #77bc1f;
    color: #fff;
    cursor: pointer;
}
#ownersIcon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M274.7 304H173.3C77.61 304 0 381.6 0 477.3C0 496.5 15.52 512 34.66 512H413.3C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM632.3 134.4c-9.703-9-24.91-8.453-33.92 1.266l-87.05 93.75l-38.39-38.39c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94l56 56C499.5 285.5 505.6 288 512 288h.4375c6.531-.125 12.72-2.891 17.16-7.672l104-112C642.6 158.6 642 143.4 632.3 134.4z'/%3E%3C/svg%3E");
}
#plansIcon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M152.1 38.16C161.9 47.03 162.7 62.2 153.8 72.06L81.84 152.1C77.43 156.9 71.21 159.8 64.63 159.1C58.05 160.2 51.69 157.6 47.03 152.1L7.029 112.1C-2.343 103.6-2.343 88.4 7.029 79.03C16.4 69.66 31.6 69.66 40.97 79.03L63.08 101.1L118.2 39.94C127 30.09 142.2 29.29 152.1 38.16V38.16zM152.1 198.2C161.9 207 162.7 222.2 153.8 232.1L81.84 312.1C77.43 316.9 71.21 319.8 64.63 319.1C58.05 320.2 51.69 317.6 47.03 312.1L7.029 272.1C-2.343 263.6-2.343 248.4 7.029 239C16.4 229.7 31.6 229.7 40.97 239L63.08 261.1L118.2 199.9C127 190.1 142.2 189.3 152.1 198.2V198.2zM224 96C224 78.33 238.3 64 256 64H480C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H256C238.3 128 224 113.7 224 96V96zM224 256C224 238.3 238.3 224 256 224H480C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H256C238.3 288 224 273.7 224 256zM160 416C160 398.3 174.3 384 192 384H480C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416zM0 416C0 389.5 21.49 368 48 368C74.51 368 96 389.5 96 416C96 442.5 74.51 464 48 464C21.49 464 0 442.5 0 416z'/%3E%3C/svg%3E");
}
#actionsIcon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Pro 6.1.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M323.5 51.25C302.8 70.5 284 90.75 267.4 111.1C240.1 73.62 206.2 35.5 168 0C69.75 91.12 0 210 0 281.6C0 408.9 100.2 512 224 512s224-103.1 224-230.4C448 228.4 396 118.5 323.5 51.25zM304.1 391.9C282.4 407 255.8 416 226.9 416c-72.13 0-130.9-47.73-130.9-125.2c0-38.63 24.24-72.64 72.74-130.8c7 8 98.88 125.4 98.88 125.4l58.63-66.88c4.125 6.75 7.867 13.52 11.24 19.9C364.9 290.6 353.4 357.4 304.1 391.9z'/%3E%3C/svg%3E");
}
.statistics-tile_title {
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.statistics-tile_chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.statistics-tile__with-charts {
    min-height: 200px;
}
#createdDateByPlanCountsTile .selector-label {
    width: 15%;
}