.tab {
    height: 45px;
}

.tablink {
    cursor: pointer;
    height: 40px;
    min-width: 100px;
    max-width: 300px;

    background-color: #FFFFFF;
    color: #121821;
    font: 400 1rem/1.28 Source Sans Pro, Arial, Helvetica, Geneva, sans-serif;

    margin-right: 1px;

    border: none;
    border-radius: 5px 5px 0 0;
}

.tablink--selected {
    height: 45px;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #77bc1f;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 200px;
    min-width: 200px;
}
.truncate:hover {
    color: transparent;
}
.truncate:hover::before {
    content: attr(data-longstring);
    width: fit-content;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    display: inline-block;
    color: #121821;
}