#strengths-and-opportunities-data-container .flip-card {
    height: 160px;
    background: none;
}
#strengths-and-opportunities-data-container .flip-card-front,
#strengths-and-opportunities-data-container .flip-card-back {
    border: 1px solid #c0c0c0;
    padding: 12px;
}
#strengths-and-opportunities-data-container .flip-card-front,
#strengths-and-opportunities-data-container .flip-card-back,
#strengths-and-opportunities-data-container .card-details-container {
    filter: none;
}
#strengths-and-opportunities-data-container .strength,
#strengths-and-opportunities-data-container .opportunity {
    border: none;
    padding: 0px;
    background-color: transparent !important;
}

.strength .flip-card-front,
.strength .flip-card-back {
    color: #00634f !important;
    background-color: #f3fff3;
}
.opportunity .flip-card-front,
.opportunity .flip-card-back {
    color: #de0f1d !important;
    background-color: #fff3f3;
}
#strengths-and-opportunities-data-container .flipicon {
    width: 50px;
}