#items-table-Demographic-Heatmap_filter {
    display: none;
}

#items-table-Demographic-Heatmap .dimension-row-cell {
    font-weight: bold;
}

#items-table-Demographic-Heatmap .text-cell {
    width: 350px;
}

#items-table-Demographic-Heatmap .items-table-td {
    white-space: normal;
    text-align: center;
}

#Demographic-Heatmap-table-title {
    margin-bottom: 20px;
}