#strengths-and-opportunities-data-container .flip-card {
    background: none;
}
#strengths-and-opportunities-data-container .flip-card-front,
#strengths-and-opportunities-data-container .flip-card-back {
    border: 1px solid #c0c0c0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
    height: 100%;
    max-height: 320px;
}
#strengths-and-opportunities-data-container .flip-card-front,
#strengths-and-opportunities-data-container .flip-card-back {
    filter: none;
}
#strengths-and-opportunities-data-container .strength,
#strengths-and-opportunities-data-container .opportunity {
    border: none;
    transition: transform 0.5s;
    min-height: 320px;
    padding: 12px;
    width: 40%;
    min-width: 400px;
}

.strength {
    color: #00634f;
    background-color: #f3fff3;
}

.opportunity {
    background-color: #fff3f3;
    color: #de0f1d;
}
.strength .flip-card-front,
.strength .flip-card-back {
    color: #00634f !important;
    background-color: #f3fff3;
}
.opportunity .flip-card-front,
.opportunity .flip-card-back {
    color: #de0f1d !important;
    background-color: #fff3f3;
}
#strengths-and-opportunities-data-container .flipicon {
    width: 50px;
}
#strengths-and-opportunities-data-container .card-row {
    max-width: 90vw;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#strengths-and-opportunities-data-container .card-row_header {
    font-weight:normal;
}
#strengths-and-opportunities-data-container .card-row_header__opportunity {
    margin-top: 30px;
}
#strengths-and-opportunities-data-container .flip-card-front_question-number {
    margin-bottom:20px;
    font-size: 14px;
}
#strengths-and-opportunities-data-container .flipicon_wrapper {
    position: absolute;
    width: 50px;
    bottom: 0px;
    right: 0px;
}
#strengths-and-opportunities-data-container .action-button_wrapper {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#strengths-and-opportunities-data-container .flip-card-back_row {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #121821;
}
#strengths-and-opportunities-data-container .flip-card-back_row:first-child {
    font-size: 1rem;
    font-weight: bold;
}
#strengths-and-opportunities-data-container .card-label,
.strengths-and-opportunities-card-details-container .card-label{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#strengths-and-opportunities-data-container .item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
}
#strengths-and-opportunities-data-container .item-row:not(:last-child) {
    border-bottom: 1px #000 solid;
}
#strengths-and-opportunities-data-container .item-row_section {
    padding: 5px;
    color: #000;
}
#strengths-and-opportunities-data-container .item-number,
#strengths-and-opportunities-data-container .items-core {
    font-size: 1.3rem;
    font-weight: bold;
}
#strengths-and-opportunities-data-container .card-top3-items {
}
#strengths-and-opportunities-data-container .action-button {
    padding: 5px;
    min-width: 50px;
    margin-bottom: 0px;
    cursor: pointer;
}
#strengths-and-opportunities-data-container .opportunity .action-button,
.action-button__Opportunities {
    border: 1px solid #de0f1d;
    background-color: #de0f1d;
}
#strengths-and-opportunities-data-container .details-link {
    border: 1px solid #666;
    background-color: #666;
    padding: 2px 8px;
    color: white;
    min-width: 50px;
    width: 15%;
    align-self: flex-end;
    cursor: pointer;
    text-align: center;
}
#strengthsAndOpportunitiesItemTable {
    width: 100%;
    margin: 0px;
    zoom: 1;
    border-bottom: 0px;

}
.action-button__Strengths,
.action-button__Opportunities {
    margin: 0px;
    bottom: 0;
    display: block;
    cursor: pointer;
}
.strengths-and-opportunities-card-details-container {
    background-color: #f9f9f9;
    filter: none;
    position: absolute;
    margin: 0px 50px 0px 0px;
    left: -100000px;
    /*height: 600px;*/
    border: 1px solid #999;
    opacity: 0;
    /*width: 80%;*/
    border-radius: unset;
    padding: 30px 50px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20px 20px;
    zoom: 1;
}
